<div>
    hello world

    <div class="select-box">
        <h3>Bootstrap theme</h3>
        <p>Selected: {{vm.id}}</p>
        <ui-select ng-model="vm.id" theme="selectize" style="width: 300px;" title="Choose a country" append-to-body="true">
            <ui-select-match placeholder="Select or search a country in the list...">{{$select.selected.value.firstName}}</ui-select-match>
            <ui-select-choices repeat="arr.value.id as (key, arr) in  vm.arrayE">
                <span ng-bind-html="arr.value.firstName "></span>
                <small ng-bind-html="arr.value.lastName "></small>
            </ui-select-choices>
        </ui-select>



        <p class="alert alert-info positioned">The select dropdown menu should be displayed above this element.</p>
    </div>
    <ol>
        <li ng-repeat="(key, value) in vm.arrayE">{{value.firstName}}</li>
        <div view-more-less limit="4" show-more-text='Show More &#x25BC;' show-less-text='Show Less &#x25B2;' list='vm.sampleList'></div>
    </ol>


</div>